body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: antiquewhite;
    width: 1256px;
    margin: auto;
}

/* css for  navbar */
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    margin: 2rem 2rem;
    padding: 1rem;
    /* border-bottom: 2px black solid; */
    box-shadow: 0px 5px lightslategrey;
}
.name{
    font-weight: 700;
    font-size: 2rem;

}

.name span{
    color: skyblue;
}

.title span{
    padding-right:1rem ;
    &:hover{
        color: lightslategray;
    }
}




/* css in filling the boxes */
.per{
    height: auto;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row; 
    text-align: center;
    margin-bottom: 5rem;
}
.work{
    height: auto;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row; 
    text-align: center;
    margin-bottom: 5rem;
}


.per-title{
    width: 25%;
    justify-content: left;
}
.work-title{
    width: 25%;
    justify-content: left;
}
.per-title h3{
    margin: 0;
    padding: 0;
}

.work-title h3{
    margin: 0;
    padding: 0;
}
.per-info{
    width: 75%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 0rem;
    margin-left: 10rem;
    /* padding: 1rem; */
}

.work-info{
    width: 75%;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 0rem;
    margin-left: 10rem;
    /* padding: 1rem; */
}

.per-info input {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 2px;
}
.work-info input {
    width: 300px;
    height: 40px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 2px;
}


.per-info p{
    width: 300px;
    height: 45px;
    margin: auto;
    /* margin-top: 10px; */
    /* padding: 1px; */
    /* padding-top: 5px; */
    /* border: 1px black solid; */
    padding-top: 1px;
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
    text-align: center;
}

.work-info p{
    width: 300px;
    height: 45px;
    margin: auto;
    /* margin-top: 10px; */
    /* padding: 1px; */
    /* padding-top: 5px; */
    /* border: 1px black solid; */
    padding-top: 1px;
    background-color: black;
    color: aliceblue;
    border-radius: 3px;
    text-align: center;
}